.article:hover > div:nth-child(2) {
	@apply bg-white;
}
.article:hover > svg {
	@apply text-white;
}

.projLine {
	width: 100%;
	border: 0.5px solid #4a5568;
	border-radius: 2px;
  transition-duration: 110ms;
  opacity: .8;
}

.proj:hover .projLine {
  border-color: #fff;
}
