@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1a1c2c !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Jakarta-Bold";
  src: url("/fonts/PlusJakartaSans-Bold.woff2");
}

@font-face {
  font-family: "Jakarta-Regular";
  src: url("/fonts/PlusJakartaSans-Regular.woff2");
}
